@{
    ViewData["Title"] = "Get To Know Joel";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        <li>Check out Joel's cool podcast <a href="https://baconsale.com">Baconsale</a></li>
        <li>Come see me perform live with the <a href="https://www.qwcomedy.com">Quick Wits</a></li>
    </ul>
<img src="~/img/BaconsaleKate.jpg" alt="Bacon Sale Group">
</div>