@{
    ViewData["Title"] = "Add Movie";
}
@model Movie

<h2>Add a Movie to the Database</h2>
<div class="form-input">
    <form method="post" asp-action="AddMovie">
        <label asp-for="MovieTitle">Movie Title: </label>
        <br>
        <input asp-for="MovieTitle" required/>
        <br><br>
        <label asp-for="MovieCategory">Movie Category: </label>
        <br>
        <input asp-for="MovieCategory" required/>
        <br><br>
        <label asp-for="Year">Year Released: </label>
        <br>
        <input asp-for="Year" required/>
        <br><br>
        <label asp-for="Director">Director: </label>
        <br>
        <input asp-for="Director" required/>
        <br><br>
        <label asp-for="Rating"> Rating: </label>
        <br>
        <select asp-for="Rating" id="" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br>
        <label asp-for="Edited">Edited: </label>
        <label>Yes<input class="radio-button" type="radio" name="choice" value="yes"/></label>
        <label>No<input class="radio-button" type="radio" name="choice" value="no" checked/></label>
        <br><br>
        <label asp-for="LentTo"> Lent To: </label>
        <br>
        <input asp-for="LentTo" maxlength="25"/>
        <br><br>
        <label asp-for="Notes">Notes: </label>
        <br>
        <input asp-for="Notes" maxlength="25"/>
        <br><br>
        <button type="submit">Add Movie to Database</button>

    </form>
</div>