@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton's Movie Tracker</h1>
    <br>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton">
    
</div>